.logo-img{
  max-width: 75px;
  max-height: 75px;
}

.logtext{
  max-width: 100%;
  max-height: 100%;
}
.logo{
  max-width: 100%;
  min-height: 100px;
  max-height: 400%;
}
.main{
  background-color:#E2E2E2;

}
.footer{
  background-color: #4587C9;
}
